
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%; /* Light Beige */
    --foreground: 20 10% 10%;
    --card: 60 56% 93%;
    --card-foreground: 20 10% 10%;
    --popover: 60 56% 91%;
    --popover-foreground: 20 10% 10%;
    --primary: 123 44% 38%; /* Forest Green */
    --primary-foreground: 60 33% 97%;
    --secondary: 60 20% 85%;
    --secondary-foreground: 123 44% 28%;
    --muted: 60 20% 85%;
    --muted-foreground: 20 10% 40%;
    --accent: 20 100% 41%; /* Burnt Orange */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 83%;
    --ring: 123 44% 38%;
    --chart-1: 123 44% 38%;
    --chart-2: 20 100% 41%;
    --chart-3: 130 30% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar-background: 120 15% 15%;
    --sidebar-foreground: 60 20% 90%;
    --sidebar-primary: 123 44% 70%;
    --sidebar-primary-foreground: 123 44% 15%;
    --sidebar-accent: 120 15% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 120 15% 25%;
    --sidebar-ring: 123 44% 60%;
  }
  .dark {
    --background: 20 10% 10%;
    --foreground: 60 20% 90%;
    --card: 20 10% 12%;
    --card-foreground: 60 20% 90%;
    --popover: 20 10% 10%;
    --popover-foreground: 60 20% 90%;
    --primary: 123 44% 70%;
    --primary-foreground: 123 44% 15%;
    --secondary: 20 10% 20%;
    --secondary-foreground: 60 20% 90%;
    --muted: 20 10% 20%;
    --muted-foreground: 60 20% 60%;
    --accent: 20 100% 51%;
    --accent-foreground: 20 10% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 10% 25%;
    --input: 20 10% 25%;
    --ring: 123 44% 70%;
    --chart-1: 123 44% 60%;
    --chart-2: 20 100% 61%;
    --chart-3: 130 30% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Sidebar variables */
    --sidebar-background: 20 10% 10%;
    --sidebar-foreground: 60 20% 90%;
    --sidebar-primary: 123 44% 70%;
    --sidebar-primary-foreground: 123 44% 15%;
    --sidebar-accent: 20 10% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 20 10% 25%;
    --sidebar-ring: 123 44% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
